---
import Linkbutton from "./Linkbutton.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import GitHub from "./icons/GitHub.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import ReactIcon from "./icons/React.astro";
import JavaScriptIcon from "./icons/JS.astro";
import HTMLIcon from "./icons/HTML.astro";
import CSSIcon from "./icons/CSS.astro";


const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React JS",
    class: "bg-black text-white border border-gray-900",
    icon: ReactIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white border border-gray-900",
    icon: JavaScriptIcon,
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white border border-gray-900",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white border border-gray-900",
    icon: CSSIcon,
  },
};
const PROJECTS = [
  {
    title: "E-commerce",
    description:
      "Realicé un e-commerce con React CSS estático y básico. Estoy trabajando y aprendiendo para hacerlo dinámico con carrito de compras, además de agregarle métodos de pago.",
    link: "https://jotashop.vercel.app/",
    github: "https://github.com/julioenriqee/e-commerce-basico",
    image: "/projects/e-commerce.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Simulador de terminal",
    description:
      " Simulador de terminal con JavaScript, HTML y CSS. El objetivo de este proyecto fue aprender a manipular el DOM con JavaScript.",
    link: "https://jotaterminal.vercel.app/",
    github: "https://github.com/julioenriqee/terminal-web",
    image: "/projects/terminal.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link, github }) => (
    <article class="py-6">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`captura de pantalla del proyecto ${image}`}
      />
      <footer class="flex gap-x-4 items-end justify-star mt-4">
        <Linkbutton href={github}>
          <GitHub class="size-6"/>
          Ver en GitHub
        </Linkbutton>
        
        <Linkbutton href={link}>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
          Ir al sitio web
        </Linkbutton>
      </footer>
    </article>
  ))
}
